// Import File Sass 

@import'./image';
@import './color';
@import './fonts';
@import './header';
@import './navbar_fullscreen';
@import './request_price';
@import './who_are_we';
@import './services_arts';
@import './portfolio_projects';
@import './blog';


// Style Files

body {
    font-family: $font-content;
    color: $color-black;
    text-align: right !important;
    direction: rtl;
}


// Style Home Page

// Style Header page

header.header_top_page {
    background-image: url(../images/header_home.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 15px;
}

header.header_top_page nav.navbar button.navbar-toggler {
    color: $color-white;
    font-size: 28px;
}

header.header_top_page nav.navbar ul {
    margin-top: 20px;
    text-align: center;
}


header.header_top_page nav.navbar ul li a {
    color: $color-white;
    font-family: $font-heading;
    font-size: 17px;
}

header.header_top_page .title_heading h4 {
    margin-top: 75px;
    margin-bottom: 30px;
    font-size: 28px;
    color: $color-white;
}

header.header_top_page .text_mark p {
    font-size: 18px;
    color: $color-white;
}

header.header_top_page .portfolio_projects {
    margin-top: 50px;
}

.portfolio_projects a {
    font-family: $font-heading;
    font-size: 18px;
    background-color: $color-base-light;
    padding: 12px 40px;
    border-radius: 50px;
    color: $color-black;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: -118px 0 0 $color-white inset;
}


.portfolio_projects a:hover,
.portfolio_projects a:active,
.portfolio_projects a:focus {
    text-decoration: none;
    color: $color-white;
    background-color: $color-fixed;
    -webkit-box-shadow: -70px 0 0 $color-base inset;
}

header.header_top_page .image-header img {
    margin-top: 50px;
}

// Section About company

section.about-company {
    margin: 40px 0;
}

.circle_top ul {
    padding: 0;
    margin-bottom: 10px;
}

.circle_top ul li {
    margin-right: 0 !important;
    margin-left: 3px;
}

.circle_top ul li .cirlce-one {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $color-light-green;
    margin: 0 auto;
}

.circle_top ul li .cirlce-two {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: $color-base-light;
}

.circle_top ul li .cirlce-three {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $color-base;
}

section.about-company .title_heading h4 {
    font-size: 24px;
    margin: 15px 0;
}

section.about-company .text-about-company p {
    font-size: 17px;
}

section.about-company .read_more {
    margin-top: 45px;
}

section.about-company .read_more a {
    font-family: $font-heading;
    font-size: 18px;
    background-color: $color-fixed;
    padding: 10px 45px;
    border-radius: 50px;
    color: $color-white;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: -100px 0 0 $color-base-light inset;

}

section.about-company .read_more a:hover,
section.about-company .read_more a:active,
section.about-company .read_more a:focus {
    text-decoration: none;
    color: $color-white;
    font-weight: 500;
    -webkit-box-shadow: -30px 0 0 $color-base-light inset;
}

// Section services arts 
section.services_arts {
    background-image: url(../images/bg-services.svg);
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
}

section.services_arts .card-service {
    padding: 50px;
    margin: 20px 0;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 15px;
}

section.services_arts .card-service .icon-service img {
    height: 115px;
    margin-bottom: 25px;
}

section.services_arts .card-service .title-service {
    margin-bottom: 20px;
}

// Section // business_gallery

section.business_gallery {
    margin-top: 30px;
}

section.business_gallery .card {
    border: none;
    margin: 20px 0;
    box-shadow: 0 4px 16px rgb(17 17 26 / 5%), 0 8px 32px rgb(17 17 26 / 5%);
    border-radius: 15px;
}

section.business_gallery .card .card-body h5 {
    font-size: 18px;
}

section.business_gallery .card .card-body a {
    background-color: transparent;
    border-color: transparent;
}

section.business_gallery .card .card-body a.btn {
    background-color: $color-fixed;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all .5s ease-in-out;
}

section.business_gallery .card .card-body a.btn:hover,
section.business_gallery .card .card-body a.btn:active,
section.business_gallery .card .card-body a.btn:focus {
    color: $color-black;
    -webkit-box-shadow: -110px 0 0 $color-light-green inset;
}

// Section Our clients

section.our_clients #carouselClinetsIndicators .carousel-indicators {
    bottom: -55px;
}

section.our_clients #carouselClinetsIndicators .carousel-indicators img {
    height: 35px;
    margin-right: 30px;
    cursor: pointer;
}

section.our_clients .carousel-inner .carousel-item .card {
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 4px 16px rgb(17 17 26 / 5%), 0 8px 32px rgb(17 17 26 / 5%);
    border-radius: 15px;
}

section.our_clients .carousel-inner .carousel-item .card .brand-logo img {
    height: 112px;
    margin: 15% 0;
}

section.our_clients .carousel-inner .carousel-item .card .brand-logo.saudi-electronic img,
section.our_clients .carousel-inner .carousel-item .card .brand-logo.Alinma_bank img,
section.our_clients .carousel-inner .carousel-item .card .brand-logo.Smasco img {
    height: 75px;
}

section.our_clients .carousel-inner .carousel-item .card .quotation img {
    height: 30px;
}

section.our_clients .carousel-inner .carousel-item .card .slider-clients {
    border-right: 5px solid $color-fixed;
    padding-right: 30px;
}


// Send a message now

section.Contact-us {
    margin: 8% 0;
}

section.Contact-us .contact-us-now {
    background-color: $color-white;
    box-shadow: $color-gray-rgba 6px 2px 16px 0px, $color-gray-rgba -6px -2px 16px 0px;
    padding: 25px 50px;
    border-radius: 10px;
    margin-bottom: 40px;
}

section.Contact-us .contact-us-now .title h4 {
    color: $color-fixed;
    font-size: 26px
}

section.Contact-us .contact-us-now .contect-now a {
    text-decoration: none;
    background-color: $color-fixed;
    border-radius: 25px;
    box-shadow: $color-gray-rgba 6px 2px 16px 0px, $color-base-light -6px -2px 16px 0px;
    padding: 12px 70px;
    color: $color-white;
    line-height: 7;
    -webkit-box-shadow: -50px 0 0 $color-light-green inset;
    transition: all 0.6s ease-in-out;
}

section.Contact-us .contact-us-now .contect-now a:hover,
section.Contact-us .contact-us-now .contect-now a:focus section.Contact-us .contact-us-now .contect-now a:active {
    -webkit-box-shadow: -250px 0 0 $color-light-green inset;
    color: $color-black;
}



// Footer page 

footer.footer-page {
    background-image: url(../images/footer_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10px 0 2px 0;
    margin-bottom: 0;
    margin-top: 7%;
}


footer.footer-page .title h3 {
    color: $color-white;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer.footer-page .informations {
    margin: 8px 0;
}

footer.footer-page .informations label svg {
    color: $color-white;
    font-size: 20px;
    margin-left: 5px;
}

footer.footer-page .informations span {
    font-weight: 500;
    color: $color-white;
}

footer.footer-page ul.link-footer {
    padding: 0;
}

footer.footer-page ul li a.nav-link {
    padding: .5rem 0 !important;
    margin-left: 30px;
    color: $color-white;
    transition: all 0.3s ease-in-out;
}

footer.footer-page ul li a.nav-link:hover,
footer.footer-page ul li a.nav-link:active,
footer.footer-page ul li a.nav-link:focus {
    color: $color-beige;
}

footer.footer-page .icon-social-media ul {
    padding: 0;
    margin: 0 60px;
}

footer.footer-page .icon-social-media ul li {
    margin-right: 0 !important;
    margin-left: 13px;
}

footer.footer-page .icon-social-media ul li a {
    text-decoration: none;
}

footer.footer-page .icon-social-media ul li a svg {
    color: $color-white;
    font-size: 26px;
}

footer.footer-page .line-bottom {
    border-bottom: 1px solid $color-white;
}

footer.footer-page .copyright p.copyright {
    margin: 20px 0;
    color: $color-white;
    font-size: 18px;
}










// Extra small devices (portrait phones, less than 576px)
@media (min-width: 300px) and (max-width: 575.98px) {

    // Home page

    .main-menu .nav li a {
        font-size: 20px;
    }

    .hidden-on-small {
        display: none;
    }

    .show-all-small {
        display: block;
    }

    header.header_top_page {
        padding: 0;
        height: 165vh;
    }

    header.header_top_page .title_heading h4 {
        margin-top: 0;
    }

    header.header_top_page .image-header img {
        display: none;
    }

    section.about-company .image-about {
        text-align: center;
    }

    section.about-company .image-about img {
        height: 250px;
        margin-top: -30%;
        margin-bottom: 45px;
    }

    // section.services_arts {
    //     padding: 65px 0;
    //     height: 395vh;
    // }

    section.business_gallery {
        margin-top: -25%;
    }

    section.our_clients #carouselClinetsIndicators .carousel-indicators {
        display: none;
    }

    section.our_clients .carousel-inner .carousel-item .card .brand-logo img {
        height: 50px;
    }

    section.our_clients .carousel-inner .carousel-item .card .brand-logo.Alinma_bank img,
    section.our_clients .carousel-inner .carousel-item .card .brand-logo.saudi-electronic img,
    section.our_clients .carousel-inner .carousel-item .card .brand-logo.Smasco img {
        height: 45px;
    }

    section.Contact-us .contact-us-now .title h4 {
        margin-bottom: 25px;
    }

    section.Contact-us .contact-us-now .contect-now a {
        padding: 20px 40px;
    }

    footer.footer-page .title h3 {
        margin-top: 15px;
    }

    footer.footer-page .line-bottom {
        margin-top: 40%;
    }

    footer.footer-page {
        background-size: auto;
    }

    footer.footer-page .icon-social-media ul {
        padding: 0;
        margin: 24px 0;
    }

    // Csutom request page
    .requests_prices .line-left {
        border-left: none;
        border-bottom: 1px solid #838def;
        margin: 20px 0px;
    }

    .image-pro img {
        height: 200px;
        margin: 15px 0;
    }

    // Page evaluate_idea
    .send-now {
        text-align: center;
        margin: 20px 0;
    }

    // Page Who are we
    header.bg-about {
        height: 130vh;
    }

    section.Vision-message .image-creative img {
        height: 210px;
    }

    .hide-section-on-mobile {
        display: none;
    }

    .scroll-down img {
        display: none;
    }

    section.about-our-company {
        margin-top: -40%;
    }

    // Page services_arts

    header.bg-services {
        height: 100vh;
    }

    section.our_services_arts .circle_top ul,
    section.our_services_arts .title-services h4,
    section.our_services_arts .small-description p,
    section.our_services_arts .description-service p,
    section.our_services_arts .glow-on-hover {
        text-align: center;
    }


    section.our_services_arts {
        margin: 0;
    }

    .hidden-on-smaller {
        display: none;
    }

    section.our_services_arts .image-explain {
        text-align: center;
    }

    section.our_services_arts .image-explain img {
        height: 180px;
    }

    // Page portfolio_projects

    section.business_gallery .filter-projects {
        margin-top: 15%;
    }

    section.business_gallery .filter-projects .click-check a {
        font-size: 15px;
        margin-left: 1px;
    }

    // Page blog
    section.blog {
        margin-top: -5%;
    }

    // Page article blog
    section.content-article .circle_top ul {
        margin-top: 0;
    }

    section.content-article article .custom-image img {
        height: 80px !important;
    }

    section.content-article article .image-article img {
        height: 150px;
    }

    section.content-article .share-social-media .title-social h5 {
        text-align: center;
    }

    section.content-article .share-social-media .share-now ul {
        text-align: center;
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    // Home page

    header.header_top_page .image-header img {
        display: none;
    }

    section.about-company .image-about {
        text-align: center;
    }

    section.about-company .image-about img {
        margin-top: -30%;
        margin-bottom: 40px;
    }

    section.services_arts {
        height: 360vh;
    }

    section.business_gallery {
        margin-top: -50%;
    }

    section.our_clients #carouselClinetsIndicators .carousel-indicators img {
        height: 25px;
    }

    footer.footer-page .title h3 {
        margin-top: 15px;
    }

    footer.footer-page .line-bottom {
        border-bottom: 1px solid #fff;
        margin-top: 10%;
    }

    footer.footer-page {
        background-size: auto;
    }

    footer.footer-page .icon-social-media ul {
        padding: 0;
        margin: 24px 0;
    }

    // Csutom request page
    .requests_prices .line-left {
        border-left: none;
        border-bottom: 1px solid #838def;
        margin: 20px 0px;
    }

    // Page evaluate_idea
    .send-now {
        text-align: center;
        margin: 20px 0;
    }

    // Page Who are we
    header.bg-about {
        height: 90vh;
    }

    // Page services_arts
    section.our_services_arts .image-explain {
        text-align: center;
    }

    // Page portfolio_projects
    section.business_gallery .filter-projects {
        margin-top: 45%;
    }

    section.business_gallery .filter-projects .click-check a {
        font-size: 16px;
        margin-left: 3px;
    }

    // Page blog
    section.blog {
        margin-top: 0;
    }

    // Page article blog

    section.content-article .circle_top ul {
        margin-top: 0;
    }

    section.content-article article .custom-image img {
        height: 130px !important;
    }

    section.content-article article .image-article img {
        height: 250px;
    }


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

    // Home page

    header.header_top_page {
        height: 155vh;
        padding: 0;
    }

    section.about-company .image-about {
        text-align: center;
    }

    section.about-company .image-about img {
        margin-top: -35%;
        margin-bottom: 40px;
    }

    section.services_arts {
        padding: 50px 0 150px 0;
    }

    section.business_gallery {
        margin-top: -12%;
    }

    footer.footer-page .line-bottom {
        border-bottom: 1px solid #fff;
        margin-top: 10%;
    }

    footer.footer-page {
        background-size: auto;
    }

    footer.footer-page .icon-social-media ul {
        padding: 0;
        margin: 24px 0;
    }

    // Csutom request page
    .requests_prices .line-left {
        border-left: none;
        border-bottom: 1px solid #838def;
        margin: 20px 0px;
    }

    // Page evaluate_idea
    .send-now {
        text-align: center;
        margin: 20px 0;
    }

    // Page Who are we
    header.bg-about {
        height: 75vh;
    }

    // Page services_arts
    section.our_services_arts .image-explain img {
        height: 250px;
    }

    // Page blog
    section.blog {
        margin-top: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

    // Home page
    header.header_top_page {
        height: 110vh;
    }

    h3.custom-title-service {
        font-size: 18px;
    }

    section.services_arts {
        padding: 50px 0 150px 0;
    }

    // Page Who are we
    header.bg-about {
        height: 73vh;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
    // Good Responsive

    // Page Who are we
    header.bg-about {
        height: 75vh;
    }
}

// Extra Lg 
@media (min-width: 1400px) and (max-width: 1800px) {

    // Responsive pages
    section.services_arts {
        height: 130vh;
    }

    // Page Who are we
    header.bg-about {
        height: 75vh;
    }
}

// Top Extra lagr
@media (min-width: 1801px) and (max-width: 2000px) {

    // Page Who are we
    header.bg-about {
        height: 75vh;
    }
}